/*!---------- PLACE YOUR CUSTOM STYLES AND OVERRIDES HERE ----------*/

.bluebtn {
  background-color: #36A9E1;
}

.bluebtn:hover {
  background-color: #3198CA;
}

.btn-clear {
  clear: both;
  padding: 30px;
}

.basic {
  background: #aaa;
}

hr {
  border-top: 1px solid #8c8b8b;
}