<template name='footer'>
  <footer class="footer footer-1">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <ul class="social-links">
            <li><a href="http://www.facebook.com/Millenniata"><i class="icon-facebook"></i></a></li>
            <li><a href="https://plus.google.com/+Mdisc"><i class="icon-google"></i></a></li>
            <li><a href="http://twitter.com/Millenniata"><i class="icon-twitter"></i></a></li>
            <li><a href="http://www.youtube.com/user/Millenniata"><i class="icon-youtube-alt"></i></a></li>
            <li><a href="http://pinterest.com/foreverstorage"><i class="fa fa-pinterest-p"></i></a></li>
          </ul>
        </div>
      
        <div class="col-sm-4 text-center">
          <p class="sub">© Copyright 2015 mydisc - All Rights Reserved</p>
        </div>
        
        <div class="col-sm-4 text-right">
          <a href="{{pathFor 'home'}}#home"><img alt="Logo" src="/images/mdisc_logo_bold_35px.png"></a>
        </div>  
      </div>
    </div>
  </footer>
</template>