<template name='footer'>
  <footer class="footer footer-1">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <ul class="social-links">
            <li><a href="#how-it-works"><i class="icon-facebook"></i></a></li>
            <li><a href="#how-it-works"><i class="icon-twitter"></i></a></li>
            <li><a href="#how-it-works"><i class="icon-youtube-alt"></i></a></li>
            <li><a href="#how-it-works"><i class="icon-vimeo"></i></a></li>
          </ul>
        </div>
      
        <div class="col-sm-4 text-center">
          <p class="sub">© Copyright 2015 mydisc - All Rights Reserved</p>
        </div>
        
        <div class="col-sm-4 text-right">
          <a href="#"><img alt="Logo" src="/img/mydisc_logo.png"></a>
        </div>  
      </div>
    </div>
  </footer>
</template>