<template name="header">
  <nav class="nav-1 overlay">
    <div class="navbar">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-6 col-xs-4">
            <a href="{{pathFor 'home'}}">
              <div class="vnu"><img class="logo" alt="mydisc Logo" src="/img/mydisc_logo.png"></div>
            </a>
          </div>
          {{#unless isCloudConnecting}}
            <div class="col-md-2 text-right col-sm-6 col-md-push-7 col-xs-8">
              <div class="mobile-toggle">
                <div class="upper"></div>
                <div class="middle"></div>
                <div class="lower"></div>
              </div>
              <div style="position: relative; z-index: 100;">
                {{#unless isInRole 'admin'}}
                  {{> mdCloudGoogleConnectAccountStart blue='yes' text='Archive now'}}
                {{/unless}}
              </div>
            </div>
            <div class="col-md-8 text-center col-md-pull-2 col-sm-12 col-xs-12">
              <ul class="menu">
                {{> menu}}
              </ul>
            </div>
          {{/unless}}
          <div class="text-center col-md-10 col-sm-6 col-xs-8">
            {{#if isCloudConnecting}}
              {{> mdCloudServiceConnectingStepsMenu}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </nav>
  {{> atFormModal}}
</template>