<template name="home">

    <div class="main-container">

      <a id="home" class="in-page-link"></a>
      <section class="header header-1 fixed-header">
        <div class="background-image-holder">
          <img alt="Background Image" class="background-image" src="/img/hero_pool.jpg">
        </div>
        <div class="container">
          <div class="row v-align-children">
            <div class="col-md-6">
              <h3 class="text-white">Hold onto your digital memories forever.</h3>
              <h5 class="text-white">This is where a sub-headline goes something something blah.</h5>
              <p style="clear:both;"><a href="#press" class="cta-spacer btn btn-filled">Get started »</a></p>
            </div>
          
            <div class="col-md-6">
              <div class="local-video-container">
                <div class="background-image-holder">
                  <img alt="Background Image" class="background-image" src="img/mdisc-large.jpg">
                </div>
                <video controls="">
                  <source src="video/walter.mp4" type="video/mp4">  
                </video>
                <div class="play-button"></div>
              </div>
              <!-- <div class="videoinner inner">
              <ul>
                <li>
                <p class="text-white">
                  Video player here.</p>
                </li>
              </ul>
              <form class="form-email" method="post">
                <input type="text" name="name" class="signup-name-field validate-required" placeholder="Your Name">
                <input type="text" name="email" class="validate-required validate-email signup-email-field" placeholder="Email Address">
                <input type="submit" value="Join the club »">
                <p class="sub">
                * We don’t share your personal info with anyone. Check out our <a href="privacy.html"> Privacy Policy</a> for more information.
                </p>
                <div class="form-error">
                <span>Please fill all fields correctly</span>
                </div>
              
                <div class="form-success">
                <span>Thanks, your details were sent</span>
                </div>
                <iframe srcdoc="" class="mail-list-form">
                </iframe>
              </form>
              </div> -->
            </div>
          </div>
        </div>
      </section>
      
      <a id="how" class="in-page-link"></a>
      <section class="features features-2">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
              <h4>Preserving your digital memories is as<br>easy as 1-2-3.</h4>
              <p>Here's a sub-headline to give a brief intro to the three step process.</p>
            </div>
          </div>
        
          <div class="row">
            <div class="text-center feature col-sm-4">
              <img alt="Feature Image" src="img/phone_sunset.jpeg">
              <h5>1. Sync your photos with Google Photos.</h5>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
            </div>
            <div class="col-sm-4 text-center feature">
              <img alt="Feature Image" src="img/google-photos-app.jpg" height="240px">
              <h5>2. Connect Google Photos securely with mydisc.</h5>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
            </div>
            <div class="col-sm-4 text-center feature">
              <img alt="Feature Image" src="img/mdisc-large.jpg">
              <h5>3. Receive your 1,000-year guaranteed mydisc in the mail.</h5>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
            </div>
          </div>
        </div>
      </section>
      
      <a id="tech" class="in-page-link"></a>
      <section class="features features-7">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
              <h4 class="text-white">What makes mydisc technology unique?</h4>
              <h5 class="text-white">
                At mydisc's score is a stone-like, carbon compound that lasts for 1,000 years. Your memories and prcious data are literally engraved in stone.
              </h5>
              <a href="#press" class="cta-spacer btn btn-filled">Archive my memories »</a>
            </div>
          </div>
        </div>
        <img alt="Macbook" class="pull-right" src="img/stone_texture.jpg">
      </section>
      
      <a id="testimonials" class="in-page-link"></a>
      <section class="testimonials testimonials-3 bg-secondary">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h4>Don't take our word for it</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 text-center testimonial">
              <p class="lead">"I've been scanning hundreds of family photos and am putting together archive discs of those and other documents for my family. Until the M-disc I wouldn't have bothered because there was no trustworthy media to put them on. Now I believe there is."</p>
              <img alt="Avatar" src="img/avatar-1.png">
              <p><em>—ZDNet</em></p>
            </div>
            <div class="col-sm-6 text-center testimonial">
              <p class="lead">"I’d strayed from optical for all the usual reasons: lack of speed and capacity, expense, bad discs, etc. But I’m back and fully intend to keep my most important data, the stuff that can’t be replaced, archived on M-Disc."</p>
              <img alt="Avatar" src="img/avatar-2.png">
              <p><em>—PCWorld</em></p>
            </div>
          </div>
        </div>
      </section>
      
      <a id="pricing" class="in-page-link"></a>
      <section class="pricing pricing-5">
        <div class="container">
          <div class="row v-align-children">
            <div class="col-md-4 text-center">
              <div class="pricing-option">
              <h6>One Price</h6>
              <div class="price-container">
                <span class="dollar">$</span>
                <span class="price">29</span>
                <span class="terms"> </span>
              </div>
              <h5>up to 40GB archive</h5>
              <a href="#press" class="btn btn-filled">Archive now »</a> 
              </div>
            </div>
            
            <div class="col-md-8">
              <div class="feature">
                <i class="icon-file-psd"></i>
                <div class="inner">
                  <h6>Feature #1</h6>
                  <p>This is where more information about this feature will go. Or something.</p>
                </div>
              </div>
            
              <div class="feature">
                <i class="icon-browser-full"></i>
                <div class="inner">
                  <h6>Feature #2</h6>
                  <p>This is where more information about this feature will go. Or something.</p>
                </div>
              </div>
            
              <div class="feature">
                <i class="icon-graph"></i>
                <div class="inner">
                  <h6>Feature #3</h6>
                  <p>This is where more information about this feature will go. Or something.</p>
                </div>
              </div>
            
              <div class="feature">
                <i class="icon-imac"></i>
                <div class="inner">
                  <h6>Feature #4</h6>
                  <p>This is where more information about this feature will go. Or something.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <footer class="footer footer-1">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <ul class="social-links">
              <li><a href="#how-it-works"><i class="icon-facebook"></i></a></li>
              <li><a href="#how-it-works"><i class="icon-twitter"></i></a></li>
              <li><a href="#how-it-works"><i class="icon-youtube-alt"></i></a></li>
              <li><a href="#how-it-works"><i class="icon-vimeo"></i></a></li>
              </ul>
            </div>
          
            <div class="col-sm-4 text-center">
              <p class="sub">© Copyright 2015 mydisc - All Rights Reserved</p>
            </div>
            
            <div class="col-sm-4 text-right">
              <a href="#"><img alt="Logo" src="img/mydisc_logo.png"></a>
            </div>  
          </div>
        </div>
      </footer>
    </div>

</template>